@import 'global.less';

.container {
    margin: 0 auto;
    width: @bp-large;
}

.main {
    background: @color-white;
    margin: 5rem 0;
    min-height: 75vh;
    padding: 7rem;

    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4.5rem;

        p {
            color: @color-black-light;
        }
    }
}

//COMPONENTS

.nav {
    background: @color-white;
    box-shadow: @drop-shadow-dark;
    padding: 3rem;
    border-radius: .6rem;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 

    &_title {
        font-size: 2.6rem;
        color: @color-primary-dark;
        font-weight: 500;
    }

    &_side {
        display: flex;

        a {
            color: @color-primary;
            font-weight: 600;
        }
    }

    &_name {
        margin-right: 2rem;
    }
}

.message {

    border: 1px solid @color-grey-light-1;
    border-radius: .6rem;
    padding: 2.5rem;

    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }

    &_actions {
        display: flex;
        gap: 1.2rem;
        margin-top: 2rem;

        a {
            display: flex;
            align-items: center;
            gap: .5rem;
            color: @color-black-light;
        }
    }

    &_edit {
        p {
            color: @color-primary;
        }
    }

    &_user {
        span {
            font-weight: 500;
        }
    }

    .update_form {
        div {
            margin-left: auto;
            a {
                color: @color-black-light;
                margin-right: 2rem;
             }
        }
    }

    form {
        display: flex;
        flex-direction: column;
    }
}

.no_message {
    margin-top: 20rem;
    text-align: center;
    p {
        color: @color-black-light;
    }
}

.message_count {
    color: @color-primary;
    font-weight: 600;
}

textarea {
    background: @color-primary-lightest;
    padding: 1rem;
    border: 1px solid @color-grey-light-1;
    outline: 0;
    color: @color-primary-dark;
    width: 100%;
    margin-bottom: 2rem;
}

.modal {

    &.show {
        display: block;
    }

    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: @color-black-light;
    overflow: auto;
    z-index: 10;
    
    &_body {
        background: @color-white;
        margin: 10% auto;
        width: 50%;
        padding: 5rem;
        border-radius: .6rem;
        position: relative;
    }

    &_close {
        content: url('../images/cancel.svg');
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }

    h3 {
        color: @color-primary-dark;
        text-align: center;
        font-size: 2.6rem;
        font-weight: 500;
        margin-bottom: 4rem; 
    }
}

#create_message_form {
    & > div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2.4rem;
    }

    a {
        color: @color-black-light
    }
}

#delete_modal {
    .modal_body {
        width: 54rem;
        form div {
            margin-top: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            > * {
                flex: 1;
                text-align: center;
            }

            a {
                color: @color-black-light;
            }
        }
    }
}